<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная загрузка формы</title>
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
<body>
    <div class="success-container">
        <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Логотип">
            </div>
        <div class="success-message">
            <h1>Ваша форма успешно загружена</h1>
        </div>
    </div>
</body>
</html>